{% extends 'base.html' %}

{% block "title" %}
statistiques
{% endblock %}

{% block 'content' %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Statistiques</h1>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Pourcentage de reussite</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{pourcentage}}%</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Moyenne generale</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{moyenne_generale}}/20</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            1 <sup>er</sup>du Lycee > {{meilleur_eleve.user.get_full_name}}</div>
                        <div class="h6 mb-0 font-weight-bold text-gray-800">{{meilleur_eleve.classe}}-{{meilleur_eleve.moyenne}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Effectif des eleves
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{eleve}} élèves</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Liste des salles de classes</h6>
    </div>
    <div class="card-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}

        {% if form.errors %}
        <div class="alert alert-danger">
            {% for field, errors in form.errors.items %}
            <strong>{{ field }} :</strong> {{ errors|join:", " }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Classe</th>
                        <th>Effectif</th>
                        <th>Moyenne</th>
                        <th>Rang</th>
                        <th>Pourcentage de reussite</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for classe in classes %}
                    <tr>
                        <td>{{classe}}</td>
                        <td>{{classe.eleve}}</td>
                        <td>{{classe.moyenne_generale}}/20</td>
                        <td>{{classe.rang}}</td>
                        <td>{{classe.pourcentage_reussite}}%</td>
                        <td>
                            <a href="{% url 'moyenne_eleve' classe.id %}" class="btn btn-info"><i class="fa fa-eye"></i> voir plus</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}