{% extends 'base.html' %}

{% block "title" %}
bulletins
{% endblock %}

{% block 'content' %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Bulletin <b>{{classe}}</b></h1>
    <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Telecharger tous les bulletins</button>
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Pourcentage de reussite</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{classe.pourcentage_reussite}}%</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            Moyenne generale</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{classe.moyenne_generale}}/20</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">1<sup>er</sup> de la classe avec {{classe.meilleur_eleve.moyenne}}/20
                        </div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                        <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{classe.meilleur_eleve.eleve}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Effectif des eleves</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{classe.eleve}} élèves</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>
<!-- Content Row -->

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
    </div>
    <div class="card-body">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Matricule</th>
                        <th>Nom, prenom</th>
                        <th>Moyenne</th>
                        <th>Rang</th>
                        <th>Mention</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for eleve in eleves %}
                    <tr>
                        <td>{{eleve.user.matricule}}</td>
                        <td>{{eleve.user.last_name}},{{eleve.user.first_name}}</td>
                        <td>{{eleve.moyenne}}</td>
                        <td>{{eleve.rang}}</td>
                        <td>{{eleve.mention}}</td>
                        <td>
                            <a href="{% url 'download_bul_student' eleve.id %}" class="btn btn-info"><i class="fas fa-download"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Afficher les notes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'liste_note' %}" method="get">
                    {% csrf_token %}
                    <label for="sequence">Séquence : </label>
                    <select name="sequence" id="sequence" class="form-control">
                        <option value="1">Séquence 1</option>
                        <option value="2">Séquence 2</option>
                        <option value="2">Trimestre 1</option>
                    </select>
                    <input type="hidden" name="classe" value="{{ classe.id }}">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Telecharger</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}